<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new game1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,1},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,1},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,1},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,1},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,303},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,303},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,303},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,303},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,303},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,605},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,605},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,605},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,605},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,605},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,907},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,907},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,907},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,907},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,907},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,1209},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,1209},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,1209},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,1209},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,1209},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,1511},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,1511},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,1511},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,1511},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,1511},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,1813},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,1813},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,1813},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,1813},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,1813},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,2115},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,2115},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,2115},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,2115},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,2115},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,2417},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,2417},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,2417},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,2417},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,2417},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1,2719},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{783,2719},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{1565,2719},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{2347,2719},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new game1_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,300}</string>
                <key>spriteSourceSize</key>
                <string>{780,300}</string>
                <key>textureRect</key>
                <string>{{3129,2719},{780,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newGame.png</string>
            <key>size</key>
            <string>{3910,3020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fc560afd7f7803bcb2f874ccaa10c5c:362a20d08bf1cd3d86beb1c988debf35:46f12c954cbccd582b7842df174062c2$</string>
            <key>textureFileName</key>
            <string>newGame.png</string>
        </dict>
    </dict>
</plist>
