<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>extra ball 1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,1},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,1},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,1},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,1},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,363},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,363},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,363},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,363},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,363},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,725},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,725},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,725},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,725},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,725},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,1087},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,1087},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,1087},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,1087},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,1087},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,1449},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,1449},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,1449},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,1449},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,1449},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,1811},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,1811},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,1811},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,1811},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,1811},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,2173},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,2173},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,2173},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,2173},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,2173},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,2535},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,2535},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,2535},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,2535},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,2535},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,2897},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,2897},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,2897},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,2897},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,2897},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1,3259},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{783,3259},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{1565,3259},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{2347,3259},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra ball 1_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,360}</string>
                <key>spriteSourceSize</key>
                <string>{780,360}</string>
                <key>textureRect</key>
                <string>{{3129,3259},{780,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>extraTime.png</string>
            <key>size</key>
            <string>{3910,3620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20b38d292b087679eb296c43f5756083:6cba0962399586113fd49222fd61e1d1:5d60de1e4706f4422d844f08839c9e20$</string>
            <key>textureFileName</key>
            <string>extraTime.png</string>
        </dict>
    </dict>
</plist>
